<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>about</title>
     <!-- Bootstrap CSS -->
     
     <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
    <link rel="stylesheet" href="/about.css">
</head>
<body>
    <img class="about" src="https://www.iwriteessays.com/image/aboutmejpg">
    <p>Hey!! This website is created By <b>Sarthak Duggal</b>.
       I am new in Web Development and I am making this 
       website so as to participate in Clememt's competition.
       Hope, I will learn new things from this.  
    </p>
    
    <a href="/Home.html">Home<span class="glyphicon glyphicon-home"></span></a>
</body>